@charset "UTF-8";

body{
    background-color: rgb(120, 173, 173);
}

.topwrapper h1{
    font-size: inherit;
    font-weight: bold;
    color:rgb(60, 60, 151)
}

.topwrapper p{
    font-size: inherit;
    font-weight: bold;
}

.space{
    width: 100vw;
    aspect-ratio: 10/1;
}

.topwrapper{
    text-align: center;
    width: 100vw;
    aspect-ratio: 4/1;
    color: rgb(13, 12, 15);
    background: linear-gradient(rgb(60, 60, 151),rgb(244, 240, 240));
    display: grid;
    place-items: center stretch;
}

.picture-box{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 30vw;
    aspect-ratio: 1/1;
}

img{
    object-fit: cover;
    position: absolute;
    width: inherit;
    height: inherit;
}

.lost{
    width: 100vw;
    height: auto;
}