@charset "UTF-8";

body{
    margin: 0;
    padding: 0;
}

.topwrapper{
    text-align: center;
    width: 100vw;
    aspect-ratio: 4/1;
    color: blueviolet;
    background-color: rgb(204, 119, 14);
    display: grid;
    place-items: center stretch;
}

.colorbox{
    display: flex;
    justify-content: space-around;
}

.box{
    width: 30vw;
    aspect-ratio: 1/1;
}

.blue{
    background-color: blue;
}

.red{
    background-color: red;
}

.yellow{
    background-color: yellow;
}

.green{
    background-color: green;
}
